<!DOCTYPE html>
<html>
    <head>
        <style>
            #stylish {


                font-weight: bold;
                font-style: italic;
                text-decoration: underline;
                text-align: center;
                color: aliceblue;
                background: blueviolet;
                 }
        </style>
    </head>
</html>
<p style="font-weight:bold;font-style:italic;text-decoration:underline;text-align:center;color:pink;background:green">No problem.</p>
</body>
   </html>